@font-face {
    font-family: Next Art;
    src: url(../fonts/Nextart_regular.otf) format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Next Art;
    src: url(../fonts/Nextart_bold.otf) format("opentype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: Next Art;
    src: url(../fonts/Nextart_semibold.otf) format("opentype");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: Arodora Pro;
    src: url("../fonts/ArodoraPro-Light.otf")format("opentype");
    font-style: normal;
    font-weight: 300;
}